<h1>Add a Secret <%= @user.name %>!</h1>

<form action="/secrets/create/<%= @user.id %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <% if flash[:errors] %>
            <% flash[:errors].each do |e| %>
        <p style="background-color: rgb(146, 0, 0);color: rgb(153, 153, 0);font-weight: 800;"><%= e %></p>
            <% end %>
        <% end %>
    Secret: <input type="text" name="content"><br>
    <input type="submit" value="Add Secret!">
</form>