<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="body">
    <div class="registration">
            <% if flash[:errors] %>
            <% flash[:errors].each do |e| %>
        <p style="background-color: rgb(146, 0, 0);color: rgb(153, 153, 0);font-weight: 800;"><%= e %></p>
            <% end %>
        <% end %>
        <h1 class="label">Registration</h1>
        <form action="/new" method="POST">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <div class="form-group row">
                <label class="label">First Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="user[first_name]" placeholder="First name">
            </div>
            </div>
            <div class="form-group row">
                <label class="label">Last Name</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" name="user[last_name]" placeholder="Last name">
                </div>
            </div>
            <div class="form-group row">
                <label class="label">Email</label>
                <div class="col-sm-10">
                <input type="email" class="form-control" name="user[email]" placeholder="Email">
                </div>
            </div>
            <div class="form-group row">
                <label class="label">Password</label>
                <div class="col-sm-10">
                <input type="password" class="form-control" name="user[password]">
                </div>
            </div>
            <div class="form-group row">
                <label class="label">Confirm Password</label>
                <div class="col-sm-10">
                <input type="password" class="form-control" name="user[password_confirmation]">
                </div>
            </div>
            <div class="sign-in">
            <div class="col-sm-10 offset-sm-2">
                <button type="submit" class="btn btn-warning">Register</button>
            </div>
            </div>
        </form>
        </div>
        <div class="login">
                <% if flash[:login] %>
            <% flash[:login].each do |e| %>
                <p style="background-color: rgb(146, 0, 0);color: rgb(153, 153, 0);font-weight: 800;"><%= e %></p>
            <% end %>
        <% end %>
            <h1 class="label">Login</h1>
            <form action="/show" method="POST">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <div class="form-group row">
                    <label class="label">Email</label>
                    <div class="col-sm-10">
                    <input type="email" class="form-control" name="user[email]" placeholder="Email">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="label">Password</label>
                    <div class="col-sm-10">
                    <input type="password" class="form-control" name="user[password]">
                    </div>
                </div>
                <div class="sign-in">
                <div class="col-sm-10 offset-sm-2">
                    <button type="submit" class="btn btn-warning">Sign in</button>
                </div>
                </div>
            </form>
            </div>
</body>
</html>