<form action="">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
Name: <input type="text" name="user[name]" value="<%= @user.name %>">
<input type="submit" value="Change User name">
</form>