<h1>Welcome, <%= @user.name %></h1>
<button><a href="/secrets/add/<%= @user.id %>" style="text-decoration: none; color: black">Add a Secret</a></button> <button><a href="/edit/<%= @user.id %>" style="text-decoration: none;">Edit User</a></button> <button><a href="/delete" data-method="delete" style="text-decoration: none;">Delete User</a></button>
<button><a href="/secrets" style="text-decoration: none;">View All Secrets</a></button>
<button><a href="/logout" style="text-decoration: none;">Logout</a></button>